/*
    Rachel Sabotta
    styles.css
    03/02/2025
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, h4, section, p {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    outline: 1px solid red; /* This will help you to see your element boundaries */
}

body {
    overflow-x: hidden;
}

/* TOP OF PAGE */
#green-stripe {
    height: 100%;
    width: auto;
    background-color: #adc2af;
}

#green-stripe img {
    width: 50px;
    height: auto;
    padding: 10px;
    display: flex;

}

/* NAVIGATION */
nav {
    background-color: white;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    font-family: Josefin Sans, Arial, sans-serif;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    max-width: 100%;
    color: #cc7284;
}

nav a:hover {
    color: #52699b;
    font-weight: bold;
}

/* HEADER */
header {
    height: 350px;
    width: auto;
    background-image: url(../images/header-bg-01.png);
    background-size: cover;  
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.rs-designs {
    font-family: Impact, Arial, sans-serif;
    font-weight: 100;
    font-size: 4em;
    color: white;
}

.ccc {
    font-family: Josefin Sans, Arial, sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: white;
    text-align: center; 
}

/* MAIN STYLES */
main {
    background-color: #eff6e1;
    width: auto;
}

p {
    font-weight: 400;
    color: #575757;
    padding: 0.5em 0em 0em 1em;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 23px;
    line-height: 1.5;
}

h2 {
    color: #52699b;
    padding: 1em 0em 0em 0.5em;
    font-family: Impact, Arial, sans-serif;
    font-weight: 100;
    font-size: 60px;
    line-height: 1.5
}

h4 {
    color: #52699b;
    padding: 1em 0em 0em 0.5em;
    font-family: Josefin Sans, Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5
}

#creative-experience {
    color: white;
    font-size: 43px;
    text-align: center;
}

/* PORTFOLIO BUTTON */
#portfolio
{
    color: white;
    padding: 1em 0em;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 23px;
    text-align: center;
    display: block;
}

/* MY WORK STYLES */
#resume-link {
    color: #cc7284;
    text-decoration: none;
}

#resume-link:hover {
    color: #52699b;
    font-weight: bold;
}

/* container/grid styles */
.container {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.img-column {
    flex: 1;
    margin-right: 20px;
}

.img-column img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.text-column {
    flex: 1;
    margin-left: 80px;
    margin-right: 100px;
}

/* ABRAMS CONTAINER */
.button-container-abrams, #button-container-greenwood, #button-container-magic {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#mywork-button {
    font-family: Josefin Sans, Arial, sans-serif;
    padding: 10px 20px;
    background-color: white;
    color: #cc7284;
    border-radius: 16px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mywork-button:hover {
    background-color: #cc7284;
    color: white;
}

.container-abrams {
    display: flex;
	justify-content: space-between;
	width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
}

.img-column-abrams {
    width: 23%;
    margin: 0 10px;
    box-sizing: border-box;
}

.img-column-abrams img {
    width: 100%;
    height: auto;
}

/* GREENWOOD PRIDE CONTAINER */
.container-greenwood {
    display: flex;
	justify-content: space-between;
	width: 60%;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 0 10px;
}

.img-column-greenwood {
    width: 46%;
    margin: 0 1% 10px 1%;
    box-sizing: border-box;
}

.img-column-greenwood img {
    width: 100%;
    height: auto;
}

/* MAGAZINE SPREAD */
#magazine-spread-img, #magazine-advertisment-img {
    width: 60%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 15px auto 15px auto;
}

/* PARADIGM CONTAINER */
.button-container-work {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    padding: 20px;
}

.edu-container {
    display: flex;
	justify-content: space-between;
	width: auto;
    align-items: center;
}

.edu-img-column {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
}

.edu-img-column img {
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 16px;
    width: 400px;
}

.edu-text-column {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

dt {
    font-weight: 600;
    color: #575757;
    margin: 0.5em;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
}

dd {
    font-weight: 400;
    color: #575757;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
}

main .bluesection {
    background-color: #52699b;
}

/* FAQ STYLES
#faq-section {
    padding-bottom: 25px;
}

#faq-section dt {
    font-weight: 600;
    color: #575757;
    margin: 0.5em;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 1.8em;
    line-height: 1.5;
}

#faq-section dd {
    font-weight: 400;
    color: #575757;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
}
*/

/* TABLE STYLES */
#work-section {
    background-color: #52699b;
    padding-bottom: 25px;
}

#work-section h2 {
    color: white;
}

table {
    display: block;
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 1.5%;
    text-align: left;
    border: 1px solid #eff5e0;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 1.1em;
    color: white;
    line-height: 1.5;
}

ul.table-list {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
}

ul.table-list li {
    margin-bottom: 8px;
}

#table-list-mobile {
    display: none;
}

/* CONTACT PAGE STYLES */

#contact p
{
    color: black;
    padding-left: 1em;
}

#contact a
{
    text-decoration: none;
    color: #cc7284;
}

#contact a:hover {
    color: #52699b;
    font-weight: bold;
}

/*#contact-container {
    display: flex;
	justify-content: space-between;
	width: 100%;
    padding-bottom: 25px;
}

#form-contact-column {
    flex: 1;
    margin-right: 20px;
}

#text-contact-column {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
}

#text-contact-column a:hover {
    text-decoration: underline;
    color: #52699b;
}*/

iframe
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    width: 40%;
    height: auto;
}

/* CONTACT FORM STYLES
form {
    margin-top: 2%;
    padding: 2%;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 1em;
    width: 100%;
    border: none;
}

fieldset {
    margin-bottom: 2%;
}

label {
    display: block;
    padding: 2%;
}

legend {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

input[type=submit] {
    background-color: white;
    color: #cc7284;
    font-family: 'Josefin Sans', Arial, sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #cc7284;
    width: 25%;
    height: 50px;
    text-decoration: none;
    margin: 8px 2px 0px 2px;
}

.btn:hover {
    background-color: #cc7284;
    color: white;
}

input {
    width: 100%;
    height: 25px;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 1em;
    color: #cc7284;
    box-sizing: border-box;
    border: 2px solid #52699b;
    border-radius: 8px;
    padding: 10px;
}*/

/* FOOTER STYLES */
footer {
    background-color: white;
    text-align: center;
    padding: 2em 0em;
}

.collab-container {
    display: flex;
	justify-content: space-between;
	width: auto;
    flex-wrap: wrap;
}

.collab-column {
    flex: 1;
    margin-right: 20px;
}

.social-column {
    flex: 1;
    margin-left: 80px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: auto;
}

.social-column h4 {
    margin-bottom: 20px;
    text-align: center;
}

.image-hover-link {
    display: block;
    width: 50px;
    height: 50px;
}

.image-default, .image-hover {
    width: auto;
    height: auto;
    position: absolute;
}

.image-hover {
    opacity: 0;
}

.image-hover-link:hover .image-hover {
    opacity: 1;
}

.image-hover-link:hover .image-default {
    opacity: 0;
}

footer p {
    font-family: Josefin Sans, Arial, sans-serif;
    font-weight: 400;
    color: #575757;
    padding: 0.5em 0em;
}

#collab {
    color: #52699b;
    padding: 0.5em 0em 0.5em 0em;
    font-family: Impact, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
}

#connected {
    color: #52699b;
    padding: 0.5em 0em 0.5em 0em;
    font-family: Josefin Sans, Arial, sans-serif;
    font-size: 30px;
}

footer a {
    font-family: Josefin Sans, Arial, sans-serif;
    font-weight: 400;
    color:#cc7284;
    text-decoration: none;
}

footer a:hover {
    font-weight: bold;
    color: #52699b;
}

#copyright {
    font-size: 1em;
    font-family: Josefin Sans, Arial, sans-serif;
    font-weight: 400;
    color: #575757;
}

/* MEDIA QUERY */
/* Media Query for Mobile Viewport */
@media screen and (max-width: 767px), print {
    #work-section h2 {
        font-size: 40px;
    }

    /* HOME PAGE CONTAINER */
    .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .img-column {
        margin-right: 0;
        margin-left: 30px;
        margin-bottom: 0;
        width: 100%;
        height: 300px;
    }

    .img-column img {
        width: 90%;
        max-width: 100%;
        height: auto;
    }

    .text-column {
        margin-left: 0;
        margin-right: 0;
        padding: 0 10px;
    }

    .text-column h2 {
        font-size: 3em;
    }

    .text-column h2, h4, p {
        padding-right: 15px;
    }

    /* MY WORK TABLE */
    table {
        display: none;
    }

    .table-list-mobile {
        display: block;
        padding: 0 20px;
    }

    .table-list-mobile dl {
        margin: 20px 0;
        color: white;
    }

    .table-list-mobile dt {
        font-weight: bold;
        font-size: 1.4em;
        margin-bottom: 8px;
        color: white;
    }

    .table-list-mobile dd {
        font-size: 1.1em;
        margin-left: 20px;
        color: white;
    }

    .table-list-mobile dd ul {
        list-style: circle;
        padding-left: 20px;
    }

    .table-list-mobile dd ul li {
        font-size: 1em;
        margin-bottom: 5px;
    }

    .table-list-mobile dd strong {
        font-weight: bold;
    }

    /* ABOUT ME/EDUCATION CONTAINER */
    .edu-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .edu-img-column {
        margin-right: 40px;
        margin-bottom: 0;
        width: 100%;
        height: 300px;
    }
    
    .edu-img-column img {
        width: 90%;
        max-width: 100%;
        border-radius: 16px;
    }
    
    .edu-text-column {
        margin-left: 0;
        margin-right: 0;
        padding: 0 10px;
    }

    .edu-text-column h2 {
        font-size: 2.5em;
    }

    .edu-text-column h2,dd {
        padding-right: 15px;
    }

    /* ABRAMS MY WORK CONTAINER */
    .img-column-abrams {
        width: 48%;
        margin: 10px 0;
    }

    #contact h2 {
        font-size: 3em;
    }

    #contact-container {
        flex-direction: column;
        align-items: center;
    }

    #form-contact-column, #text-contact-column {
        width: 90%;
        margin: 10px 0;
    }

    iframe {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    .collab-container {
        flex-direction: column; /* Stack items in a single column */
        text-align: center;
    }

    .collab-column {
        margin-bottom: 1em;
        width: 100%; /* Ensure columns take full width in mobile view */
    }

    .social-column {
        margin-bottom: 1em;
        width: auto;
    }

    .image-hover-link {
        width: 50px; /* Adjust icon size on smaller screens */
        height: 50px; /* Adjust icon size on smaller screens */
    }
}


/* Media Query for Tablet/Desktop Viewport */
@media screen and (min-width: 768px), print {
    .table-list-mobile {
        display: none;
    }

    table {
        display: table;
    }
}
